<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLKS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QLKS.Properties.Settings.ConnectionString" connectionString="server=.\SQLEXPRESS;database=QLKS;uid=ADMIN;pwd=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <QLKS.Properties.Settings>
            <setting name="InitialPassword" serializeAs="String">
                <value>1234</value>
            </setting>
        </QLKS.Properties.Settings>
    </applicationSettings>
</configuration>