<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLKS_DichVu.Properties.Settings.ConnectionString"
            connectionString="server=.\SQLEXPRESS;database=QLKS;uid=ADMIN;pwd=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>